# Database
DATABASE_URL=postgresql://user:password@localhost:5432/toko

# Auth
BETTER_AUTH_SECRET=your-secret-key-here
BETTER_AUTH_URL=http://localhost:3000
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# API
VITE_API_URL=http://localhost:3001

# Email (Resend)
RESEND_API_KEY=
